[user]
	name  = Alejandro Ricoveri
	email = alejandroricoveri@gmail.com
	signingkey = 17BF540D60DA2F3E
[core]
	editor = vim
[push]
	default = simple
[branch "master"]
	pushRemote = no_push
[branch "main"]
	pushRemote = no_push
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
